<!DOCTYPE html>
<html>
<head>
	<title>Cerca Ricetta</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
    <div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
            </nav>
        </header>

	<div><img src="/images/logo-siw.png" width="10%"/></a></div>
	<h1>Cerca Ricetta per Tempo di Preparazione</h1>
	<form th:action="@{/searchRicette}" method="post">
		<div>Tempo di Preparazione: <input type="text" th:value="${minuti}" name="minuti" />
		</div>
		<div><input type="submit" /></div>
	</form>
</body>

</html>