<!DOCTYPE html>
<html>
  <head>
    <title>Ingrediente</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
    <div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>


	<div><img src="/images/logo-siw.png" width="10%"/></div>
    <h1>Dettagli Ingrediente</h1>
    <div th:if="${ingrediente}">
        <span th:text="${ingrediente.nome} ">Pomodoro</span>
       <!-- <span><img width="5%" th:src=${ingrediente.urlOfPicture} /></span> -->
    </div>
    <div th:unless="${ingrediente}">Non esistono ingredienti</div>
  </body>
</html>
