<!DOCTYPE html>
<html>
<head>
  <title>Recensione</title>
  <link rel="stylesheet" href="/css/stile2.css" />
  <style>
    .ricetta-details {
      text-align: center;
    }
  </style>
</head>

<body>
    <div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	<header>
		
	<div th:if="${userDetails}">
	   <span th:text="${userDetails.username}"></span>
	   <a href="/logout">Logout</a>
	</div>
	<div sec:authorize="!isAuthenticated()">
	   <a href="/login">Login</a>
	</div>

	</header>

  <div><img src="/images/logo-siw.png" width="10%" /></a></div>
  <h1>Dettagli Recensione</h1>
  <div th:if="${recensione}">
    <div class="recensione-details">
      <h2><span th:text="${recensione.ricetta.nome}"></span></h2>
      <p><b>Voto:</b> <span th:text="${recensione.voto}"></span> stelle</p>
      <p><b>Commento: </b><span th:text="${recensione.commento}"></span></p>
    </div>
   
  </div>
  <div th:unless="${recensione}">Non esiste questa recensione</div>
</body>

</html>
