<!DOCTYPE html>
<html>

<head>
	<title>Elenco Recensioni</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>
	
	<body>
    <div class="container">
        <h2>Elenco Recensioni</h2>
        <div th:if="${recensioni == null || recensioni.isEmpty()}">Non ci sono ricette nel sistema</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Ricetta</th>
                    <th>Voto</th>
                    <th>Commento</th>
                    <th>Utente</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recensione : ${recensioni}">
                    <td th:text="${recensione.ricetta.nome}">Ricetta</td>
                    <td th:text="${recensione.voto}">Voto</td>
                    <td th:text="${recensione.commento}">Commento</td>
                   <!--  <td th:text="${recensione.utente.nome}">Utente</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>