<!DOCTYPE html>
<html>

<head>
	<title>
		Nuovo Ingrediente
	</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>

	<div><img src="/images/logo-siw.png" width="10%"/></a></div>
	<h1>Aggiungi un Ingrediente</h1>
	<form th:action="@{/admin/ingrediente}" method="POST" th:object="${ingrediente}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label>Nome:</label> <span><input required type="text" th:field="${ingrediente.nome}" /></span>
		</div>
		<div>
      <label for=" vegano">Vegano:</label>
      <input type="checkbox" id="vegano" name="vegano" th:field="${ingrediente.vegano}">
   		 </div>

		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>