<!DOCTYPE html>
<html>

<head>
	<title>Aggiorna</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>

	<div><img src="/images/logo-siw.png" width="10%" /></a></div>
	<h1>Aggiorna Ricetta</h1>
	<div th:if="${ricetta}">
		<div>
			<span th:text="${ricetta.nome}">Up!</span>
			<span th:text="'(' + ${ricetta.tempoPreparazione} + ')'">2000</span>
		</div>
		
		<div>
			<span>Ingredienti: </span>
			<div th:each="ingrediente: ${ricetta.ingredienti}">
				<span th:text="${ingrediente.nome}">Pomodoro</span>
			</div>
			<a th:href="@{'/admin/updateIngredienti/' + ${ricetta.id}}">
				<div type="text">Modifica</div>
			</a>
		</div>
		<div th:unless="${ricetta}">Ricetta non esistente</div>
</body>

</html>