<!DOCTYPE html>
<html>
	<head>
		<title>
			Gestione Ingredienti
		</title>
		<link rel="stylesheet" href="/css/stile2.css" />
	</head>
<body>
	<div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>

		<div><img src="/images/logo-siw.png" width="10%"/></a></div>
		<h1>Gestione Ingredienti</h1>
		<div>
			<a href="/admin/formNewIngrediente">Inserisci un nuovo Ingrediente</a>
		</div>
		<div>
			<a href="/ingrediente">Elenco degli Ingredienti</a>
		</div>
		<div>
			<a href="/admin/formModificaIngrediente">Modifica Ingrediente</a>
		</div>
		</div>
	</body>
</html>