<!DOCTYPE html>
<html>

<head>
	<title>Scelta ingredienti</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>
  
	<div><img src="/images/logo-siw.png" width="10%"/></a></div>
	<h1 th:text="'Ingredienti della ricetta ' + ${ricetta.nome}"></h1>
	<div th:if="${ricetta.ingredienti.isEmpty()}">Non ci sono ingredienti per questa ricetta</div>
	<ul>
		<li th:each="ingrediente : ${ricetta.ingredienti}">
			<span th:text="${ingrediente.nome}"></span>
			<a th:href="@{'/admin/removeIngredienteFromRicetta/'+ ${ingrediente.id}+'/'+${ricetta.id}}">Cancella</a>
		</li>
	</ul>
	<div>
		Ingredienti che si possono aggiungere:
		<ul>
			<li th:each="ingrediente : ${ingredientiToAdd}">
				<span th:text="${ingrediente.nome}"></span>
				<a th:href="@{'/admin/addIngredienteToRicetta/'+ ${ingrediente.id}+'/'+${ricetta.id}}">Aggiungi</a>
			</li>
		</ul>
	<div>
	<div>
		<a th:href="@{'/admin/formUpdateRicetta/'+ ${ricetta.id}}"><div type="text">Fine</div></a>
	</div>
</body>

</html>