<!DOCTYPE html>
<html>

<head>
	<title>Gestisci</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
	    <header>
            <nav>
                <a href="/" id="home-button">Home</a>
                <div class="auth-buttons">
                    <div th:if="${userDetails}">
                        <span th:text="${userDetails.username}"></span>
                        <a href="/logout">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </nav>
        </header>

	<div><img src="/images/logo-siw.png" width="10%" /></a></div>
	<h1>Ricette</h1>
	<div th:if="${ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="ricetta : ${ricette}">
			<span th:text="${ricetta.nome}">TEST</span>
			<a th:href="@{'/admin/formUpdateRicetta' + '/' + ${ricetta.id}}">Aggiorna</a>
		</li>
	</ul>
</body>

</html>